
h1, h2, h3, h4, h5, h6, p,span{
    font-family: 'Noto Sans TC', sans-serif;
    letter-spacing: 0.3rem;
}
ul {
    padding: 0;
    margin: 0;
}
body{
    background-color: #FFFEF1;
    padding: 0;
}

.lineheight{
    line-height: 2rem;
}
.lineheight2{
    line-height: 3rem;
}

.h4-style{
    color: rgb(168, 168, 168);
    border-bottom: 1px solid rgb(168, 168, 168);
    padding-bottom: 2rem;
}

/* -----body------------------------------ */

nav{
    width: 100%;
    padding-top: 1rem;
    margin: 0 auto;
    background-color: #FFFEF1;
    position: fixed;
    top: 0;
    left: 0%;
    z-index: 999;
    transition: .3s;
}

nav.nav_shadow{
    background-color: white;
    box-shadow: 0 5px 30px 0 rgb(0 0 0 / 15%); 
}

nav.nav_dark{
    background-color: #3e3e5e;
    box-shadow: 0 5px 30px 0 rgb(0 0 0 / 15%); 
}
.text{
    color: rgb(255, 255, 255);
}

.logo{
    padding-left: 5rem;
   width: 200px;
}

.navbar a{
   
    color: rgb(107, 107, 107);
    padding: 2rem;
}

.title{
    margin: 3rem auto 0;
    text-align: center;
}

.fa-map-marker-alt{
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.carousell{
    position: relative;
    overflow: hidden;
}
.carousell ul{
    display: flex;
    width: 100%;
}

ul.photo-demo{
    width: 700%;
    height: 100%;
}

.photo-demo li{
    width: 100%;
    flex-shrink:0;
}


.slider-dots li {
    width: 40px;
    height: 5px;
    border: 1px solid white;
    margin: 0 5px;
}

.slider-dots {
    position: absolute;
    bottom: 10px;
    left:calc(100% - 100px);
    transform: translateX(-50%);
}

/* ----------------surrounding----------------------- */
.map-title p{
    position: relative;
}

.map-title p::after{
    display: inline;
    border-top: 1px solid rgb(92, 92, 92);
    content: ' ';
    top: 10px;
    right: 15px;    
    position: absolute;
    width: 50%;
}

/* 公園周邊地圖 */

.mapbase{
    width: 100%;
    position: relative;
}


.pngchange img,.pngbase img{
    width: 100%;
    object-fit: contain;
}

.night_png{
    opacity: 0;
}

.mapbase .surrounding-day ,
.mapbase .surrounding-night ,
.mapbase .pngchange img{
    position: absolute;
    top: 0;
    left: 0;
}

.mapbase .surrounding-day{
   z-index: 5;
}
.pngchange img{
    z-index: 10;
}


.pick_zone_wrap{
    width: 100%;
    height: 100%;
    position: relative;
}

.pick_zone_wrap .day,.pick_zone_wrap .night{
    width:100%;
    position: absolute;
    top: 0;
    left: 1rem;
}

.pick_zone_wrap .night{
    opacity: 0;
}

.pick_zone {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 2rem 0;
        }

body.night_mode{
    background-color:#3e3e5e;
    color: white;
}

.btn {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color:#cdfdff;
        }

.btn_text {
    justify-content: start;
    padding-left: 1rem;
        }

.btn_text h5{
    color: rgb(49, 49, 49);
}
.btn_text h6{
    color: rgb(168, 168, 168);
    font-size: 1rem;
    font-weight: 300;
}

/* footer */
.grass_pic{
    width: 100%;
    overflow: hidden;
}

.grass_pic img{
    width: 100%;
    object-fit: cover;
}

footer{
    background-color: #ccc;
}


/* ---平板RWD---------------------------- */

@media screen and (max-width: 767px) {

    .map-title p::after{
        display: inline;
        border-top: 1px solid rgb(80, 80, 80);
        content: ' ';
        top: 120%;
        right: 0px;    
        position: absolute;
        width: 100%;
    }

    .pick_zone_wrap .day,
    .pick_zone_wrap .night{
        display: flex;
        flex-wrap: wrap;
    }


}
