
h1, h2, h3, h4, h5, h6, p,span{
    font-family: 'Noto Sans TC', sans-serif;
    letter-spacing: 0.3rem;
}
body{
    padding: 0;
}

.lineheight{
    line-height: 2rem;
}
.lineheight2{
    line-height: 3rem;
}
/* ------------------body---------------------- */

.logo{
    width: 100px;
}

.navbar a{
   
    color: rgb(107, 107, 107);
    padding: 2rem;
}

.imgwrap{
    position: relative;
}




.wordwrap{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 1px dashed rgb(138, 255, 127);
    position: absolute;
    top: 0;
}
.wordwrap h1{
    line-height: 3rem;
}



.banner .explore {
    margin: 3rem 0;
    font-size: 3px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .banner .explore:after {
    display: block;
    content: "⇓";
  }
  .banner .explore:hover {
    color: #CAFFAA ;
  }

/* ------------------section----------------- */

.text h5{
    color:rgb(168, 168, 168);
    margin-bottom: 3rem;
}

.number{
    font-size: 3rem;
    font-weight: 800;
}
.fas{
    font-size: 1.5rem;
    padding: 1.5rem;
}
.lightgreen{
    color: #96EF5F;
}

/* ---------------------spring----------------- */

.springbase{
    position: relative;
    border-radius: 80px;
    background-color: #FFFAFF;
    margin-top: 5rem;
}

.springtitle{
    padding: 2rem;
    border-radius: 0 100px 0px 100px;
    background-image: linear-gradient(to bottom,#FFF2FF 30%, #81FFC0);
    position: absolute;
    top: -50px;
    left: 0;
    box-shadow: 0 5px 30px 0 rgb(0 0 0 / 15%);
}

.springtitle-sm{
    padding: 2rem;
    background-image: linear-gradient(to bottom,#FFF2FF 30%, #81FFC0);
    position: absolute;
    top: -50px;
    left: 0;
    box-shadow: 0 5px 30px 0 rgb(0 0 0 / 15%);
}

.springcard .imgwrap{
    border-radius: 35% 0px 35% 0px;
    overflow: hidden;
}



.ellipsis{
    font-size: 14px;
    color: rgb(168, 168, 168);
    box-sizing:border-box;
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    white-space: normal;
}

/* ----------------------summer------------------------ */

.summerbase{
    position: relative;
    border-radius: 80px;
    background-color: #F2FEFF;
    margin-top: 4rem;
}

.summertitle{
    padding: 2rem;
    border-radius: 100px 0px 100px 0px;
    background-image: linear-gradient(to bottom,#FFFFE3 30%, #81FFFF);
    position: absolute;
    top: -50px;
    right: 0;
    box-shadow: 0 5px 30px 0 rgb(0 0 0 / 15%);
}

.summertitle-sm{
    padding: 2rem;
    background-image: linear-gradient(to bottom,#FFFFE3 30%, #81FFFF);
    position: absolute;
    top: -50px;
    right: 0;
    box-shadow: 0 5px 30px 0 rgb(0 0 0 / 15%);
}

.summercard .imgwrap{
    border-radius: 0px 35% 0px 35%;
    overflow: hidden;
}


/* ----------------------foodintro------------------ */
.foodcard .imgwrap{
    overflow: hidden;
    border-radius: 20% 0 0 0;
}


.foodcard h6{
    margin-top: 1.5rem;
    position: relative;
}
.foodcard h6::after{
    display: inline;
    border-top: 1px solid rgb(92, 92, 92);
    content: ' ';
    height: 0;
    top: 10px;
    right: 15px;    
    position: absolute;
    width: 50%;
} 
/* --------------------food-demo------------------- */


.foodwrap .foodchange {
    width: 100%;
    position: relative;
    min-height: 600px;
    /* u因為position使父層高度消失，
    所以用最小高度（＝圖片高度解決）
    min-height: calc(100% - 圖片高度)
    */
  }
  
  .foodchange li {
    width: 100%;
    border-radius: 0 0 0 100px;
    overflow: hidden;
    position: absolute;
    top: 0%;
    left: 0%;
  }
  
  .foodchange img {
    width: 100%;
    border: none;
  }
  .foodchange li:nth-child(1) {
    z-index: 5;
  }
  .foodchange li:nth-child(2) {
    z-index: 4;
  }
  .foodchange li:nth-child(3) {
    z-index: 3;
  }
  .foodchange li:nth-child(4) {
    z-index: 2;
  }
  .foodchange li:nth-child(5) {
    z-index: 1;
  }

.foodtext li{
    margin: 2rem 0;
    position: relative;
    width: 100%;
    font-size: 0.9rem;
    font-weight: 300;
    border-bottom: 1px solid #ccc;
    padding: 1.5rem;
}

.foodtext li::before{
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    width: 40%;
    border-bottom: 1px solid rgb(0, 0, 0);

}
.foodtext li a{
   margin: 0 2rem;
    font-size: 1.5rem;
    font-weight: 500;
    text-decoration: none;
    color: black;
}



/* -------------------footer------------------ */
footer{
    height:50%;
    background-color: rgb(214, 214, 214);
    position: relative;
}

footer .navbar h5{
    position: absolute;
    top: 0;
    right: -80%;
    transform: rotate(-90deg);
}

footer .navbar h5::after{
    content: '';
    position: absolute;
    top: 50%;
    left:80%;
    width: 50%;
    height: 2px;
    background-color:rgb(92, 92, 92);
    transition: .3s;
}



.copyright h5 a{
    color: rgb(92, 92, 92);
}

@media (max-width:768px) {
    .wordwrap{
    border:none;
    position: absolute;
    top: -50px;
    }
    .wordwrap h1,.wordwrap h3{
        line-height: 1.5rem;
        font-size: 1rem;
    }
    .season h5,.season h4{
        padding: 20px;
        font-size: 1rem;
        line-height: 2rem;
        margin-bottom: 0;
    }
    .numberwrap{
        border-bottom: 1px solid #ccc;
    }
    .ellipsis{
        font-size: 14px;
        box-sizing:border-box;
        overflow:hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        white-space: normal;
    }
    .springcard h6,.summercard h6{
        font-size: 1.2rem;
    }

    .foodtext-sm li {
        border-bottom: 1px solid #ccc;
    }

    .foodtext-sm li span{
        display: block;
        margin: 1rem 0;
        position: relative;
        width: 100%;
        font-size: 0.9rem;
        font-weight: 300;
        color: rgb(168, 168, 168);
        /* padding: 1.5rem; */
    }
    .foodtext-sm li a{
        font-weight: 400;
        font-size: 1.2rem;
        color: rgb(39, 39, 39);
    }

}

@media (max-width : 375px) {
    .foodwrap .foodchange {
        width: 100%;
        position: relative;
        min-height: 400px;
        /* u因為position使父層高度消失，
        所以用最小高度（＝圖片高度解決）
        min-height: calc(100% - 圖片高度)
        */
      }
}


