/* color
rgb(168, 168, 168)淺灰
rgb(107, 107, 107)中灰
rgb(92, 92, 92)深灰
#FFFEF4 morning
#666699 night
#CAFFAA 綠
*/

nav{
    width: 100%;
    padding-top: 1rem;
    margin: 0 auto;
    background-color: #fff;
}

nav.nav_shadow{
    box-shadow: 0 5px 30px 0 rgb(0 0 0 / 15%);
}

.logo{
    padding-left: 5rem;
   width: 200px;
}

.navbar a{
   
    color: rgb(107, 107, 107);
    padding: 2rem;
}

.drop_down{
    background-color: white;
    border-radius: 20px 0 0 20px;
    height: 20%;
    top: 10%;
    right: 0%;
    position: absolute;
    opacity: 1;
    transition: .2s;
}
.drop_down li{
    padding: 2px 0;
}
.drop_down a{
    padding: 0%;
}

@media (max-width : 375px) {
    .logo{
        padding: 1rem;
       }
        .logo img{
           width: 75%;
       }
    
       .fa-stream{
           color: rgb(192, 192, 192);
           font-size: 2rem;
       }
    }
