/* color
rgb(168, 168, 168)淺灰
rgb(107, 107, 107)中灰
rgb(92, 92, 92)深灰
#FFFEF4 morning
#666699 night
#CAFFAA 綠
*/

.logo{
    width: 100px;
}

.navbar ul a{
   
    color: rgb(107, 107, 107);
    padding: 2rem;
}

.imgwrap{
    position: relative;
}
